<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="App Tests" tests="6" assertions="6" errors="0" failures="0" skipped="0" time="0.008745">
    <testsuite name="CalculatorTest" file="/Users/xieheng/gitspace/azurespace/test-repo-for-jenkins/test/CalculatorTest.php" tests="5" assertions="5" errors="0" failures="0" skipped="0" time="0.008303">
      <testsuite name="CalculatorTest::testAddNumbers" tests="4" assertions="4" errors="0" failures="0" skipped="0" time="0.006963">
        <testcase name="testAddNumbers with data set #0" class="CalculatorTest" classname="CalculatorTest" file="/Users/xieheng/gitspace/azurespace/test-repo-for-jenkins/test/CalculatorTest.php" line="23" assertions="1" time="0.006751"/>
        <testcase name="testAddNumbers with data set #1" class="CalculatorTest" classname="CalculatorTest" file="/Users/xieheng/gitspace/azurespace/test-repo-for-jenkins/test/CalculatorTest.php" line="23" assertions="1" time="0.000097"/>
        <testcase name="testAddNumbers with data set #2" class="CalculatorTest" classname="CalculatorTest" file="/Users/xieheng/gitspace/azurespace/test-repo-for-jenkins/test/CalculatorTest.php" line="23" assertions="1" time="0.000057"/>
        <testcase name="testAddNumbers with data set #3" class="CalculatorTest" classname="CalculatorTest" file="/Users/xieheng/gitspace/azurespace/test-repo-for-jenkins/test/CalculatorTest.php" line="23" assertions="1" time="0.000058"/>
      </testsuite>
      <testcase name="testThrowExceptionIfNonNumbericIsPassed" class="CalculatorTest" classname="CalculatorTest" file="/Users/xieheng/gitspace/azurespace/test-repo-for-jenkins/test/CalculatorTest.php" line="32" assertions="1" time="0.001340"/>
    </testsuite>
    <testsuite name="GumballMachineTest" file="/Users/xieheng/gitspace/azurespace/test-repo-for-jenkins/test/GumballMachineTest.php" tests="1" assertions="1" errors="0" failures="0" skipped="0" time="0.000442">
      <testcase name="testTurnWheel" class="GumballMachineTest" classname="GumballMachineTest" file="/Users/xieheng/gitspace/azurespace/test-repo-for-jenkins/test/GumballMachineTest.php" line="10" assertions="1" time="0.000442"/>
    </testsuite>
  </testsuite>
</testsuites>
